.RASA {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.RASA .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1512px;
  height: 1268px;
  position: relative;
}

.RASA .FOOTTER {
  position: absolute;
  width: 1512px;
  height: 130px;
  top: 1138px;
  left: 0;
  background-color: #252525;
}

.RASA .text-wrapper {
  position: absolute;
  top: 57px;
  left: 60px;
  font-family: "AGRESSIVE-Bold", Helvetica;
  font-weight: 700;
  color: #ababab;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.RASA .VK-LOGO {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 46px;
  left: 1312px;
}

.RASA .TG-LOGO {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 46px;
  left: 1367px;
}

.RASA .GITHUB-LOGO {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 46px;
  left: 1422px;
}

.RASA .overlap {
  position: absolute;
  width: 1523px;
  height: 1104px;
  top: 34px;
  left: -2px;
}

.RASA .TAMPLATES {
  position: absolute;
  width: 1512px;
  height: 596px;
  top: 508px;
  left: 2px;
  background-color: #e5cece;
}

.RASA .overlap-group {
  position: relative;
  height: 596px;
  background-image: url(./img/rectangle.png);
  background-size: cover;
  background-position: 50% 50%;
}

.RASA .PLATES {
  position: absolute;
  width: 1381px;
  height: 298px;
  top: 157px;
  left: 65px;
  box-shadow: 5px 4px 30px #00000040;
}

.RASA .frame {
  width: 204px;
  left: 0;
  position: absolute;
  height: 298px;
  top: 0;
  background-color: #ffffff0d;
  border-radius: 7px;
  overflow: hidden;
}

.RASA .text-wrapper-2 {
  position: absolute;
  width: 148px;
  top: 188px;
  left: 24px;
  font-family: "AGRESSIVE-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.RASA .text-wrapper-3 {
  position: absolute;
  top: 259px;
  left: 117px;
  font-family: "AGRESSIVE-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.RASA .text-wrapper-4 {
  position: absolute;
  top: 259px;
  left: 8px;
  font-family: "AGRESSIVE-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.RASA .free-icon-user {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 12px;
  left: 27px;
  mix-blend-mode: multiply;
  object-fit: cover;
}

.RASA .frame-2 {
  width: 206px;
  left: 235px;
  position: absolute;
  height: 298px;
  top: 0;
  background-color: #ffffff0d;
  border-radius: 7px;
  overflow: hidden;
}

.RASA .text-wrapper-5 {
  position: absolute;
  width: 164px;
  top: 191px;
  left: 27px;
  font-family: "AGRESSIVE-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.RASA .free-icon-technical {
  position: absolute;
  width: 118px;
  height: 118px;
  top: 36px;
  left: 54px;
  object-fit: cover;
}

.RASA .frame-3 {
  width: 203px;
  left: 472px;
  position: absolute;
  height: 298px;
  top: 0;
  background-color: #ffffff0d;
  border-radius: 7px;
  overflow: hidden;
}

.RASA .text-wrapper-6 {
  position: absolute;
  width: 204px;
  top: 191px;
  left: 26px;
  font-family: "AGRESSIVE-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.RASA .free-icon-engineer {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 44px;
  left: 39px;
  object-fit: cover;
}

.RASA .frame-4 {
  width: 203px;
  left: 706px;
  position: absolute;
  height: 298px;
  top: 0;
  background-color: #ffffff0d;
  border-radius: 7px;
  overflow: hidden;
}

.RASA .text-wrapper-7 {
  position: absolute;
  width: 188px;
  top: 191px;
  left: 54px;
  font-family: "AGRESSIVE-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}
.RASA .free-icon-reverse {
  position: absolute;
  width: 118px;
  height: 118px;
  top: 36px;
  left: 46px;
  object-fit: cover;
}

.RASA .frame-5 {
  width: 206px;
  left: 940px;
  position: absolute;
  height: 298px;
  top: 0;
  background-color: #ffffff0d;
  border-radius: 7px;
  overflow: hidden;
}

.RASA .text-wrapper-8 {
  position: absolute;
  width: 156px;
  top: 191px;
  left: 39px;
  font-family: "AGRESSIVE-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.RASA .free-icon-verdict {
  position: absolute;
  width: 118px;
  height: 118px;
  top: 36px;
  left: 44px;
  object-fit: cover;
}

.RASA .frame-6 {
  width: 204px;
  left: 1177px;
  position: absolute;
  height: 298px;
  top: 0;
  background-color: #ffffff0d;
  border-radius: 7px;
  overflow: hidden;
}

.RASA .text-wrapper-9 {
  position: absolute;
  width: 147px;
  top: 178px;
  left: 28px;
  font-family: "AGRESSIVE-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.RASA .free-icon-standard {
  position: absolute;
  width: 118px;
  height: 118px;
  top: 31px;
  left: 43px;
  object-fit: cover;
}

.RASA .text-wrapper-10 {
  position: absolute;
  top: 69px;
  left: 65px;
  font-family: "Dela Gothic One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: 18px;
  white-space: nowrap;
}

.RASA .CART {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 54px;
  left: 1413px;
  background-color: #ffffff0d;
  border-radius: 24.96px;
  box-shadow: 0px 4px 4px #00000040;
}

.RASA .img {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 7px;
  left: 9px;
}

.RASA .PICTURES {
  position: absolute;
  width: 1522px;
  height: 435px;
  top: 74px;
  left: 1px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.RASA .image {
  position: absolute;
  width: 843px;
  height: 433px;
  top: 0;
  left: 338px;
  object-fit: cover;
}

.RASA .HEADER {
  position: absolute;
  width: 1517px;
  height: 75px;
  top: 0;
  left: 0;
  background-color: #f0f0f0c4;
  border: 1px solid;
  border-color: #000000;
}

.RASA .LOGO {
  position: absolute;
  width: 81px;
  height: 14px;
  top: 32px;
  left: 714px;
}

.RASA .SCROLL {
  position: absolute;
  width: 1512px;
  height: 34px;
  top: 0;
  left: 0;
  background-color: #252525;
}

.RASA .text-wrapper-11 {
  position: absolute;
  top: 8px;
  left: 60px;
  font-family: "Akira Expanded-SuperBold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.RASA .text-wrapper-12 {
  position: absolute;
  top: 8px;
  left: 1104px;
  font-family: "Akira Expanded-SuperBold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.RASA .ellipse {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 13px;
  left: 431px;
  background-color: #d9d9d9;
  border-radius: 4px;
}

.RASA .ellipse-2 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 13px;
  left: 1073px;
  background-color: #d9d9d9;
  border-radius: 4px;
}

.RASA .text-wrapper-13 {
  position: absolute;
  top: 9px;
  left: 462px;
  font-family: "AGRESSIVE-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}